button {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

body {
  background-image: url("https://starkart.com/uploads/general/204/istock-529425536.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  background-position: center;
  overflow: hidden;
}

.card {
  background: rgba(248, 249, 250, 0.95) !important;
  padding: 15px !important;
}

.jumbotron {
  margin-top: 3%;
  background: rgba(248, 249, 250, 0.95) !important;
  text-align: center;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

form, #clearList, #downloadList, #uploadList, .header, #listName {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#inputItemName {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#decisionButtons {
  margin-bottom: 10px !important;
}

#groceryLists {
  margin-top: 15px;
  text-align: center;
}

#downloadDiv, #uploadDiv, #clearDiv {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#statusText {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: red;
}

#userNameDownload, #userNameUpload {
  text-align: center;
}

#groceryLists ul {
  display: inline-block;
  position: relative;
  text-align: left;
}

#listName {
  font-weight: 600;
  font-size: 25px;
}

#addItem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

hr {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 8px !important;
  width: 95%;
}

.crossed{
  text-decoration: line-through;
}

.emoji:hover{
  cursor: pointer;
}
